/**********************************************************************
Description: It defines the styles for header components available in CMT-UI css framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles for header components as listed below:

* Header      - The barebone header class with minimum styles. The header can be made fixed or absolute.
*
* Basic       - The basic header define the styles for primary header having logo and menus.
***********************************************************************/

// == Structure - Header ============

.header {
	position: relative;

	&.header-fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001; // modal popups must override this index
	}

	&.header-absolute {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10001; // modal popups must override this index
	}
}

// == Basic Header ==================

/* Basic Header having fixed height logo, main menu and mobile menu.
 * Logo - Placed on left side
 * Main Menu - Placed on right side, hidden for tablet and mobile
 * Mobile Menu - Placed on right side, hidden for desktop
 */
.header-basic {
	background-color: $color-header;
	color: $color-header-text;
	position: relative;
	z-index: 10001;
	@extend %clearfix;

	// Absolute positioned on left side wrapping the logo
	.header-logo {
		cursor: pointer;
		display: block;
		z-index: 2;
		float: left;
	}

	@include responsive-max( screen-tablet-large ) {
		height: 50px;

		.header-logo {
			padding: 5px 10px;

			.logo {

				img {
					height: 40px;
				}
			}
		}

		#menu-main {
			display: none;
		}

		// Should be wrapped within #menu-mobile-wrap
		#menu-main-mobile {
			position: absolute;
			display: none;
			width: 320px;
			right: 0;

			li {
				box-shadow: 0 -4px 2px -5px $color-tertiary;

				a, .link {
					background-color: $color-primary-l;
					color: $color-primary-text-l;
					padding: 1em 0;
					@include transit-all( $transit-eio, $transit-time-small );

					&:hover {
						background-color: $color-primary-d;
						color: $color-link;
					}
				}
				
				&:active {
					
					a, .link {
						background-color: $color-tertiary;
						color: $color-tertiary-text;
					}
				}
			}
		}

		#mobile-actions {
			margin: 5px 10px;
			line-height: 40px;
			text-align: right;
			display: block;
			z-index: 1;
			float: right;

			.mobile-action {
				color: $color-primary-text-l;
				cursor: pointer;
				margin-left: 0.5em;
				font-size: 2em;
				@include transit-all( $transit-eio, $transit-time-small );

				&:hover {
					color: $color-link;
				}
			}
		}
	}

	@include responsive-max( screen-mobile-large ) {

		#menu-main-mobile {
			width: 100%;
		}
	}

    @include responsive-min( screen-tablet-large ) {
		height: 80px;
		padding: 0 5%;

		.header-logo {
			padding: 5px 10px 5px 0;

			.logo {

				img {
					height: 70px;
				}
			}
		}

		#menu-main {
			padding: 10px;
			padding-right: 0;
			text-align: right;
			display: block;
			z-index: 1;
			float: right;
		}

		#mobile-actions, #menu-mobile-wrap {
			display: none;
		}
		
		// Header height reduced on scroll
		&.header-small {
			height: 50px;

			#menu-main {
				height: 50px;
				line-height: 50px;
				padding: 0;
			}
		}
	}
}

// Basic header with two logos
.header-basic-duo {

	.header-logo {

		.logo-small {
			display: none;
		}
	}

	// Header height reduced on scroll
	&.header-small {

		.logo {
			display: none;
		}

		.header-logo {

			.logo-small {
				display: inline-block;

				img {
					height: 40px;
				}
			}
		}
	}
}
