/**********************************************************************
Description: It defines the styles of data zigzag components available in Breeze Framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of zigzag components as listed below:

ZigZag - The barebone zigzag class with minimum styles with each section having either 
100% width or sub-divided into two parts having 50% width.
***********************************************************************/

// == Structure - ZigZag ============

.data-zigzag {

	.data-zigzag-row {
		margin-bottom: 2em;

		.data-zigzag-banner {
			width: 100%;
			height: auto;
		}

		.data-zigzag-part-1 {
			width: 100%;
			display: inline-block;

			.data-zigzag-banner {
				display: block;
			}
		}

		.data-zigzag-part-2 {
			width: 100%;
			display: inline-block;

			.data-zigzag-banner {
				display: none;
			}
		}
	}

	@include responsive-min( screen-tablet-large ) {

		.data-zigzag-row {

			.data-zigzag-part-1 {
				width: 50%;

				.data-zigzag-banner {
					display: none;
				}
			}

			.data-zigzag-part-2 {
				width: 50%;

				.data-zigzag-banner {
					display: block;
				}
			}
		}

		.data-zigzag-row:nth-child(odd) {

			.data-zigzag-part-1 {
				float: left;
				padding-right: 1em;
			}

			.data-zigzag-part-2 {
				float: right;
				padding-left: 1em;
			}
		}

		.data-zigzag-row:nth-child(even) {

			.data-zigzag-part-1 {
				float: right;
				padding-left: 1em;
			}

			.data-zigzag-part-2 {
				float: left;
				padding-right: 1em;
			}
		}
	}
}
