/**********************************************************************
Description: It defines the styles of accordial element. The accordian is a multi 
section arrangement keeping only one section visible at a time.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of accordian elements as listed below:

Accordian - The barebone accordian class with minimum styles common for all the accordians. 
The base class define the structure of accordian having tab with trigger and view.

Basic Accordian - It arrange the accordian sections vertically and provide options to select 
multiple themes using the color scheme.

Border Accordian - It's extension of Basic Accordian with default borders.
***********************************************************************/

// == Structure - Accordian =========

.accordian {
	position: relative;

	.accordian-tab {

		.accordian-trigger {
			position: relative;
		}

		.accordian-view {
			position: relative;
		}
	}
}

// == Basic Accordian ===============

.accordian-basic {

	.accordian-tab {

		.accordian-trigger {
			background-color: $color-tertiary;
			color: $color-tertiary-text;
			font-family: $font-heading;
			font-size: $font-size-6;
			padding: 1em;
			cursor: pointer;
		}

		.accordian-view {
			background-color: $color-secondary;
			color: $color-secondary-text;
			padding: 1em;
		}
	}

	&.accordian-primary {

		.accordian-tab {

			.accordian-trigger {
				background-color: $color-primary;
				color: $color-tertiary;
			}

			.accordian-view {
				background-color: $color-primary;
				color: $color-primary-text;
			}
		}
	}
	
	&.accordian-secondary {

		.accordian-tab {

			.accordian-trigger {
				background-color: $color-secondary;
				color: $color-secondary;
			}

			.accordian-view {
				background-color: $color-secondary;
				color: $color-secondary-text;
			}
		}
	}
}

.accordian-border {

	.accordian-tab {

		.accordian-trigger {

			&.active {
				border-left: 2px solid $color-tertiary;
			}
		}

		.accordian-view {
			border: 1px solid $color-border;

			&.active {
				border-left: 2px solid $color-tertiary;
			}
		}
	}
}
