/**********************************************************************
Description: It defines the styles for html elements except form and table.

Dependencies: none

Details: It defines the styles for html elements as listed below:

Fieldset - The fieldset can be used to group elements with appropriate title using legend.

Optgroup - The optgroup used in select box will be bold by default.

Blockquote - The default styles to display quotes.
***********************************************************************/

// == Fieldset ======================

fieldset {
	@include border( 1px, solid, $color-secondary );

	legend {
		background-color: $color-secondary;
		color: $color-secondary-text;
		padding: $size-small-rem;
		margin-left: 1rem;
		@include rounded( $size-medium );
	}
}

// == Optgroup ======================

optgroup {
	font-weight: bold;
}

// == Quotes ========================

blockquote {
	position: relative;
	margin: 0.5em;
	padding: 0.5em 2em 0.5em 3em;
}

blockquote:before {
	position: absolute;
	font-size: 6em;
	line-height: 1;
	top: 0;
	left: 0;
	content: "\e90d";
}

blockquote:after {
	position: absolute;
	float: right;
	font-size: 6em;
	line-height: 1;
	right: 0;
	bottom: -0.5em;
	content: "\e90c";
}
