/**********************************************************************
Description: It defines the styles of button elements available in Breeze CSS Framework.
Most of these elements are also dependent on Velocity JS Framework. Though the JS
implementation can also be done for other standard libraries.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Button - This class turns an element into button and does not need any JS to work.

Button Group - It can be used to show a group of bottons placed absolutely at the corners
of parent element. The parent element must use positioning i.e. absolute, relative etc in
order to place group at appropriate postion.
***********************************************************************/

// == Button ========================

.btn {
	@extend %element-style;
	@extend %element-size;
	@include transit-all( $transit-eio, $transit-time-medium );
	background-color: $color-btn;
	color: $color-btn-text;
	text-align: center;
	cursor: pointer;

	&:hover {
		background-color: $color-btn-h;
		color: $color-btn-text-h;
	}

	&:active {
		background-color: $color-btn-a;
		color: $color-btn-text-a;
	}

	&:disabled {
		background-color: $color-btn-d !important;
		color: $color-btn-text-d !important;
		cursor: default;
	}

	&.btn-auto {
		width: auto;
	}

	&.btn-25 {
		width: 25% !important;
	}

	&.btn-50 {
		width: 50% !important;
	}

	&.btn-75 {
		width: 75% !important;
	}

	&.btn-small {
		width: 80px !important;
	}

	&.btn-medium {
		width: 120px !important;
	}

	&.btn-large {
		width: 180px !important;
	}

	&.btn-xlarge {
		width: 250px !important;
	}

	&.btn-primary {
		background-color: $color-primary;
		color: $color-primary-text;

		&:hover {
			background-color: $color-primary-d;
			color: $color-primary-text-d;
		}
	}

	&.btn-secondary {
		background-color: $color-secondary;
		color: $color-secondary-text;

		&:hover {
			background-color: $color-secondary-d;
			color: $color-secondary-text-d;
		}
	}

	&.btn-tertiary {
		background-color: $color-tertiary;
		color: $color-tertiary-text;

		&:hover {
			background-color: $color-tertiary-d;
			color: $color-tertiary-text-d;
		}
	}

	&.btn-link {
		background-color: $color-link;
		color: $color-white;

		&:hover {
			background-color: $color-link-h;
			color: $color-white;
		}
	}

	// White button with dark gray hover
	&.btn-white {
		background-color: $color-white;
		color: $color-black;

		&:hover {
			background-color: $color-gray-d;
			color: $color-gray-l;
		}
	}

	// Black button with dark gray hover
	&.btn-black {
		background-color: $color-black;
		color: $color-white;

		&:hover {
			background-color: $color-gray-d;
			color: $color-gray-l;
		}
	}

	// Gray button with dark gray hover
	&.btn-gray {
		background-color: $color-gray;
		color: $color-white;

		&:hover {
			background-color: $color-gray-d;
			color: $color-gray-l;
		}
	}

	&.btn-blue {
		background-color: $color-blue;

		&:hover {
			background-color: $color-blue-d;
		}
	}

	&.btn-purple {
		background-color: $color-purple;

		&:hover {
			background-color: $color-purple-d;
		}
	}

	&.btn-orange {
		background-color: $color-orange;

		&:hover {
			background-color: $color-orange-d;
		}
	}

	&.btn-yellow {
		background-color: $color-yellow;

		&:hover {
			background-color: $color-yellow-d;
		}
	}

	&.btn-red {
		background-color: $color-red;

		&:hover {
			background-color: $color-red-d;
		}
	}

	&.btn-pink {
		background-color: $color-pink;

		&:hover {
			background-color: $color-pink-d;
		}
	}

	&.btn-magenta {
		background-color: $color-magenta;

		&:hover {
			background-color: $color-magenta-d;
		}
	}

	&.btn-green {
		background-color: $color-green;

		&:hover {
			background-color: $color-green-d;
		}
	}

	&.btn-brown {
		background-color: $color-brown;

		&:hover {
			background-color: $color-brown-d;
		}
	}

	&.btn-aqua {
		background-color: $color-aqua;

		&:hover {
			background-color: darken( $color-aqua, 15% );
		}
	}

	&.btn-golden {
		background-color: $color-golden;

		&:hover {
			background-color: darken( $color-golden, 15% );
		}
	}

	&.btn-silver {
		background-color: $color-silver;

		&:hover {
			background-color: darken( $color-silver, 15% );
		}
	}

	&.btn-maroon {
		background-color: $color-maroon;

		&:hover {
			background-color: darken( $color-maroon, 15% );
		}
	}

	&.btn-olive {
		background-color: $color-olive;

		&:hover {
			background-color: darken( $color-olive, 15% );
		}
	}

	&.btn-lime {
		background-color: $color-lime;

		&:hover {
			background-color: darken( $color-lime, 15% );
		}
	}

	&.btn-navy {
		background-color: $color-navy;

		&:hover {
			background-color: darken( $color-navy, 15% );
		}
	}

	// Reversed hover of button color and text for white, black and gray buttons
	&.btn-reverse {

		&:hover {
			background-color: $color-btn !important;
			color: $color-btn-text !important;
		}
	}
}

.btn-border {
	background: transparent !important;

	&.btn-border-primary {
		color: $color-secondary !important;
		@include shadow-inset( 0, 0, 0, $color-primary, 1px );

		&:hover {
			color: $color-primary-text !important;
			background-color: $color-primary !important;
		}
	}

	&.btn-border-secondary {
		color: $color-secondary !important;
		@include shadow-inset( 0, 0, 0, $color-secondary, 1px );

		&:hover {
			color: $color-secondary-text !important;
			background-color: $color-secondary !important;
		}
	}

	&.btn-border-tertiary {
		color: $color-tertiary !important;
		@include shadow-inset( 0, 0, 0, $color-tertiary, 1px );

		&:hover {
			color: $color-tertiary-text !important;
			background-color: $color-tertiary !important;
		}
	}

	&.btn-border-link {
		color: $color-link !important;
		@include shadow-inset( 0, 0, 0, $color-link, 1px );

		&:hover {
			color: $color-btn-text !important;
			background-color: $color-link !important;
		}
	}

	&.btn-border-black {
		color: $color-black !important;
		@include shadow-inset( 0, 0, 0, $color-black, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-black !important;
		}
	}

	&.btn-border-white {
		color: $color-white !important;
		@include shadow-inset( 0, 0, 0, $color-white, 1px );

		&:hover {
			color: $color-black !important;
			background-color: $color-white !important;
		}
	}

	&.btn-border-blue {
		color: $color-blue !important;
		@include shadow-inset( 0, 0, 0, $color-blue, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-blue !important;
		}
	}

	&.btn-border-purple {
		color: $color-purple !important;
		@include shadow-inset( 0, 0, 0, $color-purple, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-purple !important;
		}
	}

	&.btn-border-orange {
		color: $color-orange !important;
		@include shadow-inset( 0, 0, 0, $color-orange, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-orange !important;
		}
	}

	&.btn-border-yellow {
		color: $color-yellow !important;
		@include shadow-inset( 0, 0, 0, $color-yellow, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-yellow !important;
		}
	}

	&.btn-border-red {
		color: $color-red !important;
		@include shadow-inset( 0, 0, 0, $color-red, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-red !important;
		}
	}

	&.btn-border-pink {
		color: $color-pink !important;
		@include shadow-inset( 0, 0, 0, $color-pink, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-pink !important;
		}
	}

	&.btn-border-magenta {
		color: $color-magenta !important;
		@include shadow-inset( 0, 0, 0, $color-magenta, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-magenta !important;
		}
	}

	&.btn-border-aqua {
		color: $color-aqua !important;
		@include shadow-inset( 0, 0, 0, $color-aqua, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-aqua !important;
		}
	}

	&.btn-border-green {
		color: $color-green !important;
		@include shadow-inset( 0, 0, 0, $color-green, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-green !important;
		}
	}

	&.btn-border-brown {
		color: $color-brown !important;
		@include shadow-inset( 0, 0, 0, $color-brown, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-brown !important;
		}
	}

	&.btn-border-golden {
		color: $color-golden !important;
		@include shadow-inset( 0, 0, 0, $color-golden, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-golden !important;
		}
	}

	&.btn-border-silver {
		color: $color-silver !important;
		@include shadow-inset( 0, 0, 0, $color-silver, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-silver !important;
		}
	}

	&.btn-border-maroon {
		color: $color-maroon !important;
		@include shadow-inset( 0, 0, 0, $color-maroon, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-maroon !important;
		}
	}

	&.btn-border-olive {
		color: $color-olive !important;
		@include shadow-inset( 0, 0, 0, $color-olive, 1px );

		&:hover {;
			color: $color-white !important;
			background-color: $color-olive !important;
		}
	}

	&.btn-border-lime {
		color: $color-lime !important;
		@include shadow-inset( 0, 0, 0, $color-lime, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-lime !important;
		}
	}

	&.btn-border-navy {
		color: $color-navy !important;
		@include shadow-inset( 0, 0, 0, $color-navy, 1px );

		&:hover {
			color: $color-white !important;
			background-color: $color-navy !important;
		}
	}
}

a, .link {

    &.btn {
        color: $color-btn-text;
    }

    &:hover {
        color: $color-btn-h;
    }
}

// == Icon Button ===================

// Icon button with text
.btn-icon {
	@extend %element-style;
	@extend %element-style-action;
}

// == Rounded Icon Button ===========

// Icon button without text
.btn-icon-o {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.2em;
	display: inline-block;
	cursor: pointer;
	@include circled1( $color-tertiary, $color-tertiary-text );
	@include transit-bkg-color( $transit-eio, $transit-time-medium );

	.icon {
		font-size: 1em;
	}

	&:hover {
		background-color: $color-tertiary-d;
		color: $color-tertiary-text-d;
	}

	&.btn-icon-o-small {
		width: 2em;
		height: 2em;
		line-height: 1.6em;

		.icon {
			font-size: 1.5em;
		}
	}

	&.btn-icon-o-medium {
		width: 2.5em;
		height: 2.5em;
		line-height: 2.1em;

		.icon {
			font-size: 2em;
		}
	}

	&.btn-icon-o-large {
		width: 3em;
		height: 3em;
		line-height: 2.5em;

		.icon {
			font-size: 2.5em;
		}
	}
}

// == Button Group ==================

// parents using button group must use positioning.

.btn-group {

	&.btn-group-top-left {
		position: absolute;
		top: 0;
		left: 0;
		text-align: left;
	}

	&.btn-group-top-right {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
	}

	&.btn-group-bottom-left {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: left;
	}

	&.btn-group-bottom-right {
		position: absolute;
		bottom: 0;
		right: 0;
		text-align: right;
	}

	// Icons
	& >.edit, & >.save, & >.delete {
		color: $color-btn;
		cursor: pointer;
		@include transit-color( $transit-eio, $transit-time-small );

		&:hover {
			color: $color-btn-h;
		}
	}
}

// == Additionals ===================

.click {
	cursor: pointer;

	&.disabled {
		cursor: default;
	}
}
