/**********************************************************************
Description: It defines the styles of radio and checkbox elements available in
Breeze CSS Framework. Most of these elements are also dependent on Velocity JS
Framework. Though the JS implementation can also be done for other standard libraries.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Choice - The choice allows user to select single or multiple options from available
options. It include radio and checkbox html components and change their default behaviour
by showing good looking icons instead of browser dependentent graphics. These are indepedent
of JS and purely css solutions.
***********************************************************************/

// == Choice ========================

// Choices using radio or checkbox

.cmt-choice {

	span, a {
		vertical-align: baseline;
	}

	input[type=checkbox],
	input[type=radio] {
		cursor: pointer;
		display: none;
	}

	label {
		cursor: pointer;
		padding: 0;
	}

	.label {
		//margin-top: 0.25em;
	}

	// Normal State

	input[type=checkbox] + .label.pad-label::before,
	input[type=radio] + .label.pad-label::before {
		margin-right: 8px;
	}

	input[type=checkbox]+.label::before,
	input[type=radio]+.label::before {
		font-family: "cmti-core";
		font-weight: normal;
		color: gray;
		border-radius: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -5px;
		line-height: 13px;
	}

	// Checked State

	input[type=checkbox]:checked, input[type=checkbox]:focus,
	input[type=radio]:checked, input[type=radio]:focus {
		outline:none !important;
	}

	input[type=checkbox]:checked + .label::before,
	input[type=radio]:checked + .label::before {
		display: inline-block;
		background-color: #F5F8FC;
		color: $color-btn;
	}

	input[type=checkbox]:checked + .label,
	input[type=radio]:checked + .label {
		color: $color-btn-a;
	}

	// Hover State - Normal, Checked

	input[type=checkbox]:hover + .label::before, input[type=checkbox] + .label:hover::before, input[type=checkbox]:checked + .label::before,
	input[type=radio]:hover + .label::before, input[type=radio] + .label:hover::before, input[type=radio]:checked + .label::before {
		color: $color-btn-h;
	}

	// Disabled State

	input[type=checkbox]:disabled + .label::before,
	input[type=radio]:disabled + .label::before {
		background-color: #DDD !important;
		color: #BBB;
	}

	// Display Content - Icon

	input[type=radio] + .label::before, input[type=radio]:disabled + .label::before {
		content: "\e0a2";
	}

	input[type=radio]:checked + .label::before {
		content: "\e0a3";
	}

	input[type=checkbox] + .label::before, input[type=checkbox]:disabled + .label::before {
		content: "\3b";
	}

	input[type=checkbox]:checked + .label::before {
		content: "\3a";
	}
}

// == Choices - arrangements ========

.cmt-choice {
	@extend %clearfix;

	&.cmt-choice-inline {

		label {
			display: inline-block;
			margin-right: 1em;
			width: auto;
		}
	}

	&.cmt-choice-row-2 {

		label {
			float: left;
			width: 50%;
		}
	}

	&.cmt-choice-row-4 {

		label {
			float: left;
			width: 25%;
		}

		@include responsive-max( screen-tablet-large ) {

			label {
				width: 50%;
			}
		}
	}

	&.cmt-choice-row-5 {

		label {
			float: left;
			width: 20%;
		}

		@include responsive-max( screen-tablet-large ) {

			label {
				width: 50%;
			}
		}
	}
}
