/**********************************************************************
Description: It defines the styles of elements list available in Breeze CSS Framework.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Radio List - A list of radio elements.
***********************************************************************/

// == UL/OL List ====================

.list {

	&.list-style-circle {
		list-style-type: circle;
	}

	&.list-style-square {
		list-style-type: square;
	}

	&.list-style-decimal {
		list-style-type: decimal;
	}

	&.list-style-image-default {
		list-style-image: url( $images-path + "list-default.jpg" );
	}

	&.list-position-inside {
		list-style-position: inside;
	}

	&.list-position-outside {
		list-style-position: outside;
	}
}

// == Radio List ====================

.list {

	&.list-radio {

		label {
			width: auto;
			clear: none;
		}
	}
}
