/**********************************************************************
Description: It defines the styles of elements list available in Breeze CSS Framework.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Radio List - A list of radio elements.
***********************************************************************/

// == Radio List ====================

.list {

	&.list-radio {

		label {
			width: auto;
			clear: none;
		}
	}
}
