/**********************************************************************
Description: It defines the styles of mapper components available in Breeze CSS Framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of mapper components as listed below:

Mapper - The barebone mapper class with minimum styles common for all the mappers.

List - The list mapper allows user to map multiple resources to active resource. The mappings
can also maintain resource hierarchy with depth. A depth of max 3 is preffered for better performance.

Auto - The auto mapper will use auto fill component to auto suggest mapping. The mapping
will be formed when user click on one of the auto suggest item.

Submit - The submit mapper allows user to submit the mappings. These will be mapped to active resource.

Action - The action mapper will allow users to toggle each item individually by click.
***********************************************************************/

// == Structure - Mapper ============

.mapper {
	position: relative;
	// Mapper

	.mapper-items {
		// Mapper items wrapper

		.mapper-item {
			position: relative;
			// Mapper item

			.mapper-item-remove {
				// Trigger to remove mapped item

				// Notes: Use btn-icon or icon-o as trigger
			}
		}
	}
}

// == Mapper - List =================

// The mappers arranged in a list view with hierarchy.

.mapper-list {
	width: 100%;
	margin: 0 auto;

	.mapper-items {
		height: 250px;
		//background-color: $color-primary;
		// Add scroll based on needs

		.mapper-item {
			width: 100%;
			//background-color: $color-secondary;
			padding: 0.5rem 0;
			margin: 0.25rem 0;

			&.item-depth-1 {
				padding-left: 15px;
			}

			&.item-depth-2 {
				padding-left: 30px;
			}

			&.item-depth-3 {
				padding-left: 45px;
			}
		}
	}
}

// == Mapper - Auto =================

// Auto Suggest with mapper - It works together with auto fill component

.mapper-auto {

	// Auto Fill element, request trigger

	.mapper-items {

		.mapper-item {
			//background-color: $color-secondary;
			padding: 0.5rem 0;
		}
	}
}

// == Mapper - Auto - Items =========

// Works with .mapper-auto having auto fill component

.mapper-auto-items {

	.mapper-items {

		.mapper-item {
			//background-color: $color-secondary;
			padding: 0.5rem 0;

			.mapper-item-remove {
				// Trigger to remove mapping
			}
		}
	}

	.spinner {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 0.25rem;
		font-size: 1.25em;
	}
}

// == Mapper - Submit ===============

.mapper-submit {
	width: 100%;
	margin: 0 auto;

	// Mapping element, request trigger

	.mapper-items {

		.mapper-item {
			//background-color: $color-secondary;
			padding: 0.5rem 0;
		}
	}
}

// == Mapper - Submit - Items =======

// Use an input field to get the items csv
// Works with .mapper-submit having submit field

.mapper-submit-items {

	.mapper-items {

		.mapper-item {
			//background-color: $color-secondary;
			padding: 0.5rem 0;

			.mapper-item-remove {
				// Trigger to remove mapping
			}
		}
	}

	.spinner {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 0.25rem;
		font-size: 1.25em;
	}
}

// == Mapper - Action ===============

// Uses checkbox to map or unmap the mapping

.mapper-action {
	width: 100%;
	margin: 0 auto;

	// Mapping element, request trigger

	.mapper-items {

		.mapper-item {
			//background-color: $color-secondary;
			padding: 0.5rem 0;
		}
	}

	.spinner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		padding: 0.25rem;
		font-size: 1.25em;
	}
}

// == Mapper - arrangements =========

.mapper-layout {
	@extend %clearfix;

	&.mapper-layout-inline {

		.mapper-item {
			display: inline-block;
			width: auto;
			margin-right: 1em;
			margin-bottom: 0.5em;
			padding-right: 2em;
		}
	}

	&.mapper-layout-row-2 {

		.mapper-item {
			float: left;
			width: 48%;
			margin: 0 1%;
		}
	}

	&.mapper-layout-row-3 {

		.mapper-item {
			float: left;
			width: 31%;
			margin: 0 1%;
		}
	}

	&.mapper-layout-row-4 {

		.mapper-item {
			float: left;
			width: 23%;
			margin: 0 1%;
		}
	}

	&.mapper-layout-row-5 {

		.mapper-item {
			float: left;
			width: 18%;
			margin: 0 1%;
		}
	}

	@include responsive-max( screen-mobile-large ) {

		&.mapper-layout-row-4, &.mapper-layout-row-5 {

			.mapper-item {
				width: 98%;
			}
		}
	}

	@include responsive-max( screen-tablet-large ) {

		&.mapper-layout-row-3, &.mapper-layout-row-4, &.mapper-layout-row-5 {

			.mapper-item {
				width: 48%;
			}
		}
	}
}
