/**********************************************************************
Description: It defines the styles of rating elements available in Breeze CSS Framework.
Most of these elements are also dependent on Velocity JS Framework. Though the JS
implementation can also be done for other standard libraries.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Rating - The rating element can be used to provide ratings.
***********************************************************************/

// == Rating ========================

.rating {
	text-align: left;

	.stars-wrap {

		.star {
			display: inline-block;
			padding: 0.30em;
			margin-bottom: 0.75rem;
			cursor: pointer;
		}
	}

	.message-wrap {

		.star-message {
			display: none;
			padding: 0.30em;
			margin-bottom: 0.75rem;

			&.selected {
				display: inline-block;
			}
		}
	}

	&.read-only {

		.stars-wrap {

			.star {
				cursor: default;
			}
		}
	}
}

.rating-native {
	text-align: left;

	input[type=checkbox] + .label.label-rating::before, input[type=radio] + .label.label-rating::before {
		margin-right: 8px;
	}

	input[type=radio] + .label::before, input[type=radio]:disabled + .label::before {
		content: "\e946";
	}

	input[type=radio]:checked + .label::before {
		content: "\e944";
	}
}
