/**********************************************************************
Description: It defines the styles of switch elements available in Breeze CSS Framework.
Most of these elements are also dependent on Velocity JS Framework. Though the JS
implementation can also be done for other standard libraries.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Switch - It's an advanced and custom element overriding default behavoir of radio to act like a switch.
***********************************************************************/

// == Switch ========================

.cmt-switch {
	position: relative;
	display: inline-block;

	label, .label {
		vertical-align: middle;
	}

	label {
		margin-right: 1em;
	}

	.cmt-toggle {
		position: absolute;
		margin-left: -9999px;
		visibility: hidden;
	}

	.cmt-toggle + label {
		display: inline-block;
		position: relative;
		cursor: pointer;
		outline: none;
		user-select: none;
	}

	.cmt-toggle-round + label {
		width: 60px !important;
		border-radius: 30px;
		height: 30px;
		padding: 0.5em;
		background: transparent;
		@include shadow-inset( 0, 0, 0, $color-border, 1px );
	}

	.cmt-toggle-round + label:before,
	.cmt-toggle-round + label:after {
	  display: inline-block;
	  position: absolute;
	  top: 4px;
	  left: 4px;
	  bottom: 4px;
	  content: "";
	}

	.cmt-toggle-round + label:before {
		right: 1px;
		border-radius: 30px;
		width: 52px;
		background: transparent;
		@include transit-bkg-color( $transit-eio, $transit-time-medium );
	}

	.cmt-toggle-round + label:after {
		width: 22px;
		height: 22px;
		background-color: $color-border;
		border-radius: 11px;
		opacity: 0.6;
		@include transit-margin( $transit-eio, $transit-time-medium );
	}

	.cmt-toggle-round:checked + label:before {
		background-color: $color-transparent-tertiary-l;
		width: 52px;
	}

	.cmt-toggle-round:checked + label:after {
		margin-left: 30px;
		background-color: $color-tertiary;
	}
}

// == Switches - arrangements =======

.cmt-switch-wrap {
	@extend %clearfix;

	.cmt-switch {
		margin-bottom: 1em;
	}

	&.cmt-switch-inline {

		.cmt-switch {
			display: inline-block;
			margin-right: 1em;
			width: auto;
		}
	}

	&.cmt-switch-row-2 {

		.cmt-switch {
			float: left;
			width: 50%;
		}
	}

	&.cmt-switch-row-4 {

		.cmt-switch {
			float: left;
			width: 25%;
		}

		@include responsive-max( screen-tablet-large ) {

			.cmt-switch {
				width: 50%;
			}
		}
	}

	&.cmt-switch-row-5 {

		.cmt-switch {
			float: left;
			width: 20%;
		}

		@include responsive-max( screen-tablet-large ) {

			.cmt-switch {
				width: 50%;
			}
		}
	}

	&.cmt-switch-row-2, &.cmt-switch-row-4, &.cmt-switch-row-5 {

		@include responsive-max( screen-mobile-large ) {

			.cmt-switch {
				width: 100%;
			}
		}
	}
}
