/**********************************************************************
Description: It defines the styles of tab components available in Breeze Framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of tab components as listed below:

Tabs - The barebone card class with minimum styles defining tab links and content.

Basic - It define the styles of basic tab with borders. The bordered tabs are commonly
used for bordered boxes and panels.

Underline - The underlined tabs use underline to hightlight the tabs and active tab.

Table - Tabs arranged using table display. Preferred for evenly spaced tabs with tab count 1, 2, 4 or 10.
***********************************************************************/

// == Structure - Tabs ==============

.tabs {

	.tab-links-wrap {
		// Links wrapper

		.tab-link {
			// Link

			&.active {
				// Link active state
			}

			a, .link {
				display: inline-block;
				width: 100%;
			}
		}
	}

	.tab-content-wrap {
		// Tab Content wrapper

		.tab-content {
			// Tab Content
		}
	}
}

// == Basic Tabs ====================

.tabs-basic {

	> .tab-links-wrap {
		border-bottom: 1px solid $color-border-d;

		.tab-link {
			display: inline-block;
			padding: 0.5em 1em;
			margin-left: -4px;
			cursor: pointer;

			&.active {
				border: 1px solid $color-border-d;
				border-bottom: 1px solid $color-primary-l;
				margin-bottom: -1px;
			}
		}
	}

	> .tab-content-wrap {

		.tab-content {
			display: none;
		}
	}
}

// == Underline Tabs ================

.tabs-underline {

	> .tab-links-wrap {
		border-bottom: 1px solid $color-border;

		.tab-link {
			display: inline-block;
			padding: 0.75em 1.25em;
			cursor: pointer;

			&.active {
				color: $color-tertiary-d;
				border-bottom: 2px solid $color-tertiary-d;
			}

			&:hover {
				color: $color-tertiary-d;
			}
		}
	}

	> .tab-content-wrap {

		.tab-content {
			display: none;
		}
	}
}

// == Table Tabs ====================

.tabs-table {

	> .tab-links-wrap {
		text-align: center;
		border-bottom: 0px;
		display: table;
		width: 100%;

		.tab-link {
			background-color: $color-secondary;
			color: $color-secondary-text;
			border-bottom: 1px solid $color-border;
			border-right: 1px solid $color-border;
			display: table-cell;
			padding: 0.5em 1em;
			@include transit-bkg-color( $transit-eio, $transit-time-small );

			&.active, &:hover {
				background-color: $color-white;
				border-bottom: 1px solid $color-white;
			}

			&.tab-link-100 {
				width: 50%;
			}

			&.tab-link-50 {
				width: 50%;
			}

			&.tab-link-25 {
				width: 25%;
			}

			&.tab-link-10 {
				width: 10%;
			}
		}
	}
}
