/**********************************************************************
Description: It defines the styles of time picker elements available in Breeze CSS
Framework. Most of these elements are also dependent on Velocity JS Framework. Though
the JS implementation can also be done for other standard libraries.

Dependencies: variables, mixins, transitions, transformations

Details: It defines the custom element styles as listed below:

Time picker - The time picker element allows users to choose time. It depends on
cmtTimePicker jQuery plugin available in Velocity JS Framework.
***********************************************************************/

// == Structure - Time Picker =======

.timepicker {
	position: absolute;
	display: none;

	.timepicker-header {

		.timepicker-apm {

			&.timepicker-am {

			}

			&.timepicker-pm {

			}

			&.active {

			}
		}
	}

	.timepicker-content {

		.timepicker-hr-wrap {

			.timepicker-hr {
				text-align: center;

				&.active {

				}
			}
		}

		.timepicker-min-wrap {

			.timepicker-min {
				text-align: center;

				&.active {

				}
			}
		}
	}

	.timepicker-footer {

		.timepicker-time {

		}

		.timepicker-ok {

		}

		.timepicker-close {

		}
	}
}

// == Basic Time Picker =============

.timepicker-basic {
	background: $color-secondary;
	color: $color-secondary-text;
	border: 1px solid $color-border-d;

	.timepicker-header {
		border-bottom: 1px solid $color-border-d;

		.timepicker-apm {
			padding: 0.5em;

			&.timepicker-am {
				cursor: pointer;
				border-right: 1px solid $color-border;
			}

			&.timepicker-pm {
				cursor: pointer;
			}

			&.timepicker-mm {
				border-left: 1px solid $color-border-d;
			}

			&.active {
				background: $color-secondary-l;
				color: $color-secondary-text-l;
			}
		}
	}

	.timepicker-content {
		border-bottom: 1px solid $color-border-d;

		.timepicker-hr-wrap {

			.timepicker-hr {
				padding: 0.5em;
				border-left: 1px solid $color-border;
				border-bottom: 1px solid $color-border;
				cursor: pointer;

				&.active {
					background: $color-secondary-l;
					color: $color-secondary-text-l;
				}
			}
		}

		.timepicker-min-wrap {
			border-left: 1px solid $color-border-d;

			.timepicker-min {
				padding: 0.5em;
				border-left: 1px solid $color-border;
				border-bottom: 1px solid $color-border;
				cursor: pointer;

				&.active {
					background: $color-secondary-l;
					color: $color-secondary-text-l;
				}
			}
		}
	}

	.timepicker-footer {
		padding: 0.25em;

		.timepicker-time {

		}

		.timepicker-ok {
			margin-left: 0.25em;
		}

		.timepicker-close {
			margin-left: 0.25em;
		}
	}
}
