.data-crud {
	margin: 1rem;
}

.data-crud .data-crud-title {
    background-color: #232831 !important;
    color: #c2d1e7 !important;
	padding: 1rem;
}

.data-crud .data-crud-content {
    background-color: white !important;
    color: #171717 !important;
	padding: 0.75rem;
}
