/**********************************************************************
Description: This file define the styles for margin and padding used by Breeze CSS Framework.

Dependencies: variables, mixins

Details: It defines the margin and padding styles as listed below.

Margin & Padding - These classes remove margin or padding or both. There are also classes
to have pre-defined margin and padding.

Height Filler - These classes can be used to add vertical spacing.

Tab Filler - These classes can be used to add horizontal spacing between inline boxes.
***********************************************************************/

// without margin and padding
.mp {
	// No defaults

	&.mp-none {
		margin: 0 !important;
		padding: 0 !important;
	}

	&.mp-none-top {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	&.mp-none-right {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}

	&.mp-none-bottom {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}

	&.mp-none-left {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

// Padding

.padding {
	// No defaults

	&.padding-none {
		padding: 0 !important;
	}

	&.padding-none-v {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	&.padding-none-h {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	&.padding-none-top {
		padding-top: 0 !important;
	}

	&.padding-none-right {
		padding-right: 0 !important;
	}

	&.padding-none-bottom {
		padding-bottom: 0 !important;
	}

	&.padding-none-left {
		padding-left: 0 !important;
	}

	&.padding-default {
		padding: $size-default-rem !important;
	}

	&.padding-default-v {
		padding-top: $size-default-rem !important;
		padding-bottom: $size-default-rem !important;
	}

	&.padding-default-h {
		padding-left: $size-default-rem !important;
		padding-right: $size-default-rem !important;
	}

	&.padding-small-v {
		padding-top: $size-small-rem !important;
		padding-bottom: $size-small-rem !important;
	}

	&.padding-small-h {
		padding-left: $size-small-rem !important;
		padding-right: $size-small-rem !important;
	}

	&.padding-medium {
		padding: $size-medium-rem !important;
	}

	&.padding-medium-v {
		padding-top: $size-medium-rem !important;
		padding-bottom: $size-medium-rem !important;
	}

	&.padding-medium-h {
		padding-left: $size-medium-rem !important;
		padding-right: $size-medium-rem !important;
	}

	&.padding-large {
		padding: $size-large-rem !important;
	}

	&.padding-large-v {
		padding-top: $size-large-rem !important;
		padding-bottom: $size-large-rem !important;
	}

	&.padding-large-h {
		padding-left: $size-large-rem !important;
		padding-right: $size-large-rem !important;
	}

	&.padding-xlarge {
		padding: $size-xlarge-rem !important;
	}

	&.padding-xlarge-v {
		padding-top: $size-xlarge-rem !important;
		padding-bottom: $size-xlarge-rem !important;
	}

	&.padding-xlarge-h {
		padding-left: $size-xlarge-rem !important;
		padding-right: $size-xlarge-rem !important;
	}

	&.padding-top-default {
		padding-top: $size-default-rem !important;
	}

	&.padding-bottom-default {
		padding-bottom: $size-default-rem !important;
	}

	&.padding-left-default {
		padding-left: $size-default-rem !important;
	}

	&.padding-right-default {
		padding-right: $size-default-rem !important;
	}

	&.padding-small {
		padding: $size-small-rem !important;
	}

	&.padding-top-small {
		padding-top: $size-small-rem !important;
	}

	&.padding-bottom-small {
		padding-bottom: $size-small-rem !important;
	}

	&.padding-left-small {
		padding-left: $size-small-rem !important;
	}

	&.padding-right-small {
		padding-right: $size-small-rem !important;
	}

	&.padding-top-medium {
		padding-top: $size-medium-rem !important;
	}

	&.padding-bottom-medium {
		padding-bottom: $size-medium-rem !important;
	}

	&.padding-left-medium {
		padding-left: $size-medium-rem !important;
	}

	&.padding-right-medium {
		padding-right: $size-medium-rem !important;
	}

	&.padding-top-large {
		padding-top: $size-large-rem !important;
	}

	&.padding-bottom-large {
		padding-bottom: $size-large-rem !important;
	}

	&.padding-left-large {
		padding-left: $size-large-rem !important;
	}

	&.padding-right-large {
		padding-right: $size-large-rem !important;
	}

	&.padding-top-xlarge {
		padding-top: $size-xlarge-rem !important;
	}

	&.padding-bottom-xlarge {
		padding-bottom: $size-xlarge-rem !important;
	}

	&.padding-left-xlarge {
		padding-left: $size-xlarge-rem !important;
	}

	&.padding-right-xlarge {
		padding-right: $size-xlarge-rem !important;
	}
}

// Margin

.margin {
	// No defaults

	&.margin-none {
		margin: 0 !important;
	}

	&.margin-none-v {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	&.margin-none-h {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	&.margin-none-top {
		margin-top: 0 !important;
	}

	&.margin-none-right {
		margin-right: 0 !important;
	}

	&.margin-none-bottom {
		margin-bottom: 0 !important;
	}

	&.margin-none-left {
		margin-left: 0 !important;
	}

	&.margin-default {
		margin: $size-default-rem !important;
	}

	&.margin-default-v {
		margin-top: $size-default-rem !important;
		margin-bottom: $size-default-rem !important;
	}

	&.margin-default-h {
		margin-left: $size-default-rem !important;
		margin-right: $size-default-rem !important;
	}

	&.margin-small-v {
		margin-top: $size-small-rem !important;
		margin-bottom: $size-small-rem !important;
	}

	&.margin-small-h {
		margin-left: $size-small-rem !important;
		margin-right: $size-small-rem !important;
	}

	&.margin-medium {
		margin: $size-medium-rem !important;
	}

	&.margin-medium-v {
		margin-top: $size-medium-rem !important;
		margin-bottom: $size-medium-rem !important;
	}

	&.margin-medium-h {
		margin-left: $size-medium-rem !important;
		margin-right: $size-medium-rem !important;
	}

	&.margin-large {
		margin: $size-large-rem !important;
	}

	&.margin-large-v {
		margin-top: $size-large-rem !important;
		margin-bottom: $size-large-rem !important;
	}

	&.margin-large-h {
		margin-left: $size-large-rem !important;
		margin-right: $size-large-rem !important;
	}

	&.margin-xlarge {
		margin: $size-xlarge-rem !important;
	}

	&.margin-xlarge-v {
		margin-top: $size-xlarge-rem !important;
		margin-bottom: $size-xlarge-rem !important;
	}

	&.margin-xlarge-h {
		margin-left: $size-xlarge-rem !important;
		margin-right: $size-xlarge-rem !important;
	}

	&.margin-top-default {
		margin-top: $size-default-rem !important;
	}

	&.margin-bottom-default {
		margin-bottom: $size-default-rem !important;
	}

	&.margin-left-default {
		margin-left: $size-default-rem !important;
	}

	&.margin-right-default {
		margin-right: $size-default-rem !important;
	}

	&.margin-small {
		margin: $size-small-rem !important;
	}

	&.margin-top-small {
		margin-top: $size-small-rem !important;
	}

	&.margin-bottom-small {
		margin-bottom: $size-small-rem !important;
	}

	&.margin-left-small {
		margin-left: $size-small-rem !important;
	}

	&.margin-right-small {
		margin-right: $size-small-rem !important;
	}

	&.margin-top-medium {
		margin-top: $size-medium-rem !important;
	}

	&.margin-bottom-medium {
		margin-bottom: $size-medium-rem !important;
	}

	&.margin-left-medium {
		margin-left: $size-medium-rem !important;
	}

	&.margin-right-medium {
		margin-right: $size-medium-rem !important;
	}

	&.margin-top-large {
		margin-top: $size-large-rem !important;
	}

	&.margin-bottom-large {
		margin-bottom: $size-large-rem !important;
	}

	&.margin-left-large {
		margin-left: $size-large-rem !important;
	}

	&.margin-right-large {
		margin-right: $size-large-rem !important;
	}

	&.margin-top-xlarge {
		margin-top: $size-xlarge-rem !important;
	}

	&.margin-bottom-xlarge {
		margin-bottom: $size-xlarge-rem !important;
	}

	&.margin-left-xlarge {
		margin-left: $size-xlarge-rem !important;
	}

	&.margin-right-xlarge {
		margin-right: $size-xlarge-rem !important;
	}
}

/**
 * Height fillers to seperate boxes.
 */

.filler-height {
	height: 1rem;

	&.filler-height-small {
		height: 1.5rem;
	}

	&.filler-height-medium {
		height: 2rem;
	}

	&.filler-height-large {
		height: 2.5rem;
	}

	&.filler-height-xlarge {
		height: 3rem;
	}
}

/**
 * Tab fillers to seperate elements.
 */
.filler-tab {
	width: 1em;
	height: 1px;
	display: inline-block;

	&.filler-tab-small {
		width: 2em;
	}

	&.filler-tab-medium {
		width: 4em;
	}

	&.filler-tab-large {
		width: 8em;
	}

	&.filler-tab-xlarge {
		width: 10em;
	}
}
