/**********************************************************************
Description: It defines the styles of widget components available in Breeze Framework.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of widget components as listed below:

Widget - The barebone widget with minimum styles.

Basic - The basic widget defines the styles of widget having text and background colors.

***********************************************************************/

// == Structure - Widget ============

.widget {
	position: relative;

	// background cover
	.box-bkg {
		@include bkg-image;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	// Texture on top of box background but under content
	> .texture {
		z-index: 10;
	}

	.widget-content-wrap {
		position: relative;
		z-index: 15;

		.widget-header {
			position: relative;

			.widget-header-icon {
				// Header icon
			}

			.widget-header-title {
				// Header Title
			}

			.widget-header-info {
				// Header Info
			}

			.widget-header-content {
				// Header Content
			}
		}

		.widget-content {
			position: relative;

			.widget-content-data {
				position: relative;
				// Text Content
			}

			.widget-content-buffer {
				position: relative;
				// Additional data
			}
		}

		.widget-footer {

			.widget-footer-icon {
				// Header icon
			}

			.widget-footer-title {
				// Header Title
			}

			.widget-footer-info {
				// Footer Info
			}

			.widget-footer-content {
				// Footer Content
			}
		}
	}
	
	&.widget-primary {
		background-color: $color-primary;
		color: $color-primary-text;
	}
	
	&.widget-secondary {
		background-color: $color-secondary;
		color: $color-secondary-text;
	}
	
	&.widget-tertiary {
		background-color: $color-tertiary;
		color: $color-tertiary-text;
	}
}

// == Basic Widget ==================

// Basic widget with default spacing
.widget-basic {

	.widget-content-wrap {

		.widget-header {
			padding: 1rem;

			.widget-header-title {
				font-size: $font-size-4;
				font-family: $font-heading;
			}

			.widget-header-info {
				font-size: $font-size-6;
			}
			
			.widget-header-icon + .widget-header-title, .widget-header-icon + .widget-header-info, .widget-header-icon + .widget-header-content {
				margin-top: 0.5rem;
			}

			.widget-header-title + .widget-header-info, .widget-header-title + .widget-header-content {
				margin-top: 0.5rem;
			}

			.widget-header-info + .widget-header-content {
				margin-top: 0.5rem;
			}
		}

		.widget-content {
			padding: 1rem;

			.widget-content-data {
				padding: 1rem 0;
			}
			
			.widget-content-data + .widget-content-buffer {
				margin-top: 0.5rem;
			}
		}

		.widget-footer {
			padding: 1rem;

			.widget-footer-title {
				font-size: $font-size-5;
				font-family: $font-heading;
			}

			.widget-footer-info {
				font-size: $font-size-6;
			}
			
			.widget-footer-icon + .widget-header-title, .widget-footer-icon + .widget-header-info, .widget-footer-icon + .widget-header-content {
				margin-top: 0.5rem;
			}

			.widget-footer-title + .widget-footer-info, .widget-footer-title + .widget-footer-content {
				margin-top: 0.5rem;
			}

			.widget-footer-info + .widget-footer-content {
				margin-top: 0.5rem;
			}
		}
	}
}
