.clock {

}

.digital-clock {
	background-color: $color-tertiary;
	color: $color-tertiary-text;
	display: inline-block;
	width: auto;
	padding: 0.25em 1em;
	border-radius: 5px;

	p {
		margin: 5px;
	}

	.time-unit, .separator {
		display: inline-block;
		text-align: center;
		margin: 0 0.25em;
	}

	.time-unit {

		.large {
			display: block;
			font-size: 2em;
		}
	}

	.time-unit {

		.small {
			display: block;
			font-size: 0.5em;
		}
	}

	.separator {
		font-size: 2em;
		vertical-align: top;
		margin-top: -0.1em;
	}
}
