/**********************************************************************
Description: It defines the styles of grid filters.

Dependencies: variables, variables-ext, mixins

Details: It defines the styles of grid filters as listed below:

Grid Filter - The barebone grid filter class with minimum styles common for all the filters.
***********************************************************************/

// == Structure - Grid Filter =======

.grid-filter {
	// Grid Filter
}
